Repository JonissonGomes/fiap-prova-sub-fase-3: changes, and which Codecov flags are due for each by the changed paths.
All: auth-service, core-service, customer-service, payment-service, sales-service, frontend

Atualiza pipeline para Render Web Service e remove dependência do Docker Hub
  .github/workflows/ci-cd.yml
  docs/RENDER_WEBSERVICE_SETUP.md
  scripts/check-secrets.sh
Due: none

Adiciona configurações para Render Web Service com Dockerfile e comando start-production
  Dockerfile
  Makefile
  docs/RENDER_FORM_GUIDE.md
  package.json
  requirements.txt
Due: none

Atualiza configuração do CI/CD para instalação de dependência
  .github/workflows/ci-cd.yml
Due: none

Refatora instalação de dependências no Dockerfile e no frontend
  Dockerfile
  frontend/Dockerfile
  frontend/package-lock.json
  render.yaml
Due: none

Refatora middleware de rate limiting para melhorar a gestão de requisições
  auth-service/app/middleware/rate_limit.py
  core-service/app/middleware/rate_limit.py
  sales-service/app/middleware/auth.py
  sales-service/app/middleware/rate_limit.py
  sales-service/requirements.txt
Due: auth-service, core-service, sales-service

Remove instalação de dependências Node.js do Dockerfile e ajusta ordem de execução
  Dockerfile
Due: none

Atualiza lógica de rate limiting e remove dependências desnecessárias
  auth-service/app/controllers/rate_limit_controller.py
  customer-service/requirements.txt
  sales-service/app/adapters/api/routes.py
Due: auth-service, customer-service, sales-service

Atualiza configuração do Makefile e render.yaml para otimizar serviços
  Makefile
  auth-service/build.sh
  auth-service/requirements.txt
  auth-service/runtime.txt
  customer-service/Dockerfile.dev
  customer-service/build.sh
  customer-service/requirements.txt
  customer-service/runtime.txt
  render.yaml
  scripts/setup-complete-fast.sh
  scripts/setup-complete.sh
  scripts/test-email-validator.py
Due: auth-service, customer-service

Atualiza testes do validador de email para utilizar domínio localhost
  scripts/test-email-validator.py
Due: none

Atualiza scripts de build e requisitos para os serviços de autenticação e cliente
  auth-service/build.sh
  auth-service/requirements-prod.txt
  auth-service/requirements.txt
  customer-service/build.sh
  customer-service/requirements-prod.txt
Due: auth-service, customer-service

Atualiza configuração do render.yaml e scripts de build para serviços
  auth-service/Dockerfile
  auth-service/build.sh
  customer-service/Dockerfile
  customer-service/build.sh
  render.yaml
Due: auth-service, customer-service

Atualiza requisitos e refatora modelos Pydantic para melhorar a estrutura do código
  auth-service/app/domain/user.py
  auth-service/requirements.txt
  core-service/app/domain/vehicle.py
  core-service/requirements.txt
  customer-service/app/domain/customer.py
  customer-service/requirements.txt
  sales-service/Dockerfile
  sales-service/app/schemas/sale_schema.py
  sales-service/requirements.txt
Due: auth-service, core-service, customer-service, sales-service

Atualiza configuração do render.yaml e refatora serviços de cliente e core
  core-service/Dockerfile
  customer-service/app/controllers/customer_controller.py
  customer-service/app/services/customer_service.py
  render.yaml
  test-email-validator-fix.py
Due: core-service, customer-service

Adiciona resumo das correções de URLs da API e atualiza configurações do frontend e render.yaml
  API_URL_UPDATE_SUMMARY.md
  frontend/src/services/api.ts
  render.yaml
Due: frontend

Implementa serviço unificado para backend e refatora configuração do Docker
  Dockerfile.unified
  docker-compose.prod.yml
  nginx.unified.conf
  render.unified.yaml
  start-unified.sh
  supervisor.unified.conf
Due: none

Adiciona guia de deploy para arquitetura unificada
  docs/UNIFIED_DEPLOYMENT_GUIDE.md
Due: none

Adjusting dinamic routes
  frontend/src/services/api.ts
Due: frontend

Atualiza dependência do Keycloak para python-keycloak no arquivo requirements.txt
  auth-service/requirements.txt
Due: auth-service

Adiciona resumo completo da solução para problemas do Dockerfile
  DOCKERFILE_SOLUTION_SUMMARY.md
Due: none

Adiciona documentação detalhada sobre a implementação do sistema de controle de acesso baseado em roles
  docs/API_URL_UPDATE_SUMMARY.md
  docs/DOCKERFILE_SOLUTION_SUMMARY.md
  docs/ROLE_BASED_ACCESS_SUMMARY.md
  docs/SETUP_ENV.md
  docs/TESTING_GUIDE.md
Due: none

Adiciona documentação sobre a configuração do ambiente e variáveis de ambiente
  API_URL_UPDATE_SUMMARY.md
  DOCKERFILE_SOLUTION_SUMMARY.md
  ROLE_BASED_ACCESS_SUMMARY.md
  SETUP_ENV.md
  TESTING_GUIDE.md
Due: none

Adiciona documentação sobre endpoints de healthcheck e configuração de ambiente no frontend
  README.md
  frontend/README.md
  frontend/src/services/api.ts
Due: frontend

Refatora configuração do Nginx para melhorar segurança e desempenho
  frontend/nginx.conf
Due: none

Adiciona documentação detalhada sobre a execução do frontend localmente no README.md
  README.md
Due: none

Atualiza configuração do Nginx para incluir CORS em rotas específicas
  nginx.unified.conf
Due: none

Adiciona arquivo package-lock.json para gerenciar dependências do frontend
  frontend/package-lock.json
  nginx.unified.conf
Due: none

Refatora configuração do Nginx para simplificar e otimizar o roteamento de serviços
  nginx.unified.conf
Due: none

Refatora configuração do Nginx e atualiza serviços de vendas no frontend
  frontend/src/components/PurchaseDialog.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/MyPurchases.tsx
  frontend/src/pages/Payments.tsx
  frontend/src/pages/Sales.tsx
  frontend/src/services/api.ts
  nginx.unified.conf
Due: frontend

Atualiza configuração do Nginx e refatora URLs no frontend para desenvolvimento local
  frontend/src/services/api.ts
  nginx.unified.conf
Due: frontend

Remove arquivos de configuração de ambiente e documentação obsoletos
  .env.example
  .env.production.example
  .env.staging.example
  API_URL_UPDATE_SUMMARY.md
  DOCKERFILE_SOLUTION_SUMMARY.md
  Dockerfile
  Dockerfile.unified
  ENV_CONFIG_SUMMARY.md
  Makefile
  README.md
  ROLE_BASED_ACCESS_SUMMARY.md
  SETUP_ENV.md
  TESTING_GUIDE.md
  codecov.yml
  docker-compose.prod.yml
  docker-compose.yml
  nginx.unified.conf
  package.json
  render.unified.yaml
  render.yaml
  requirements.txt
  start-unified.sh
  supervisor.unified.conf
  test-auth-features.sh
  test-email-validator-fix.py
Due: none

Criando a estrutura robusta da API para vendas de veículos
  backend/Dockerfile
  backend/README.md
  backend/config.env
  backend/package-lock.json
  backend/package.json
  backend/scripts/populate-data.js
  backend/src/config/database.js
  backend/src/middleware/auth.js
  backend/src/middleware/index.js
  backend/src/models/Customer.js
  backend/src/models/Sale.js
  backend/src/models/User.js
  backend/src/models/Vehicle.js
  backend/src/routes/auth.js
  backend/src/routes/customers.js
  backend/src/routes/index.js
  backend/src/routes/rateLimit.js
  backend/src/routes/sales.js
  backend/src/routes/vehicles.js
  backend/src/server.js
  backend/src/utils/logger.js
  backend/src/utils/seed.js
Due: none

Realiza a integração com a estrutura e ajusta layouts
  frontend/README.md
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/components/Layout.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/components/PurchaseDialog.tsx
  frontend/src/index.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/MyPurchases.tsx
  frontend/src/pages/Payments.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/Sales.tsx
  frontend/src/pages/VehiclesWithRoles.tsx
  frontend/src/services/api.ts
  frontend/src/services/vehicleService.ts
  frontend/src/types/index.ts
Due: frontend

Refatora middleware de cálculo de valor final e ajusta criação de vendas
  backend/src/models/Sale.js
  backend/src/routes/sales.js
Due: none

Adiciona documentação detalhada sobre comandos Make para o projeto de veículos, incluindo opções de população de dados, gerenciamento do banco, setup e execução.
  MAKEFILE_COMMANDS.md
Due: none

Adiciona novos ícones e atualiza o tema do aplicativo.
  frontend/public/favicon-16.png
  frontend/public/favicon-32.png
  frontend/public/favicon.ico
  frontend/public/favicon.svg
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
Due: none

Atualiza workflows de CI/CD para suportar testes e implantações de backend e frontend
  .github/workflows/ci-cd.yml
  .github/workflows/manual-deploy.yml
Due: none

Atualiza configurações do frontend para suportar variáveis de ambiente específicas para desenvolvimento e produção. Modifica o package.json para incluir URLs do backend e API
  frontend/package-lock.json
  frontend/package.json
  frontend/src/services/api.ts
Due: frontend

Refatora workflow CI/CD para validação do backend, reduzindo o tempo de execução e melhorando a verificação de arquivos essenciais.
  .github/workflows/ci-cd.yml
Due: none

Atualiza workflow CI/CD para focar apenas no deploy do backend
  .github/workflows/ci-cd.yml
Due: none

Refatora workflows de deploy para unificar a lógica de deploy manual
  .github/workflows/ci-cd.yml
  .github/workflows/manual-deploy.yml
Due: none

Path conditions:
  auth-service: any of: auth-service/, but not: */tests/*, */test_*, */__pycache__/*, */migrations/*, */venv/*, */env/*, */node_modules/*, */build/*, */dist/*, */coverage/*, *.pyc, *.pyo, *.pyd, .git, .github, docs, scripts
  core-service: any of: core-service/, but not: */tests/*, */test_*, */__pycache__/*, */migrations/*, */venv/*, */env/*, */node_modules/*, */build/*, */dist/*, */coverage/*, *.pyc, *.pyo, *.pyd, .git, .github, docs, scripts
  customer-service: any of: customer-service/, but not: */tests/*, */test_*, */__pycache__/*, */migrations/*, */venv/*, */env/*, */node_modules/*, */build/*, */dist/*, */coverage/*, *.pyc, *.pyo, *.pyd, .git, .github, docs, scripts
  payment-service: any of: payment-service/, but not: */tests/*, */test_*, */__pycache__/*, */migrations/*, */venv/*, */env/*, */node_modules/*, */build/*, */dist/*, */coverage/*, *.pyc, *.pyo, *.pyd, .git, .github, docs, scripts
  sales-service: any of: sales-service/, but not: */tests/*, */test_*, */__pycache__/*, */migrations/*, */venv/*, */env/*, */node_modules/*, */build/*, */dist/*, */coverage/*, *.pyc, *.pyo, *.pyd, .git, .github, docs, scripts
  frontend: any of: frontend/src/, but not: */tests/*, */test_*, */__pycache__/*, */migrations/*, */venv/*, */env/*, */node_modules/*, */build/*, */dist/*, */coverage/*, *.pyc, *.pyo, *.pyd, .git, .github, docs, scripts
